* {
  box-sizing: border-box;
}

body {
  background: pink;
  font-family: "Gotu", monospace, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
  border: 2px solid black;
}

aside {
  padding: 10px 20px;
  width: 300px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

button {
  background: #fff;
  padding: 8px 12px;
  font-size: 18px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

button:hover {
  background: #333;
  color: white;
  transform: scale(1.1);
}

button:focus {
  display: none;
}

main {
  flex: 1;
  padding: 10px 20px;
}

h2 {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}

.total-class {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}
